<br>
 <link rel="stylesheet" href="static/main2.css">
    <style>
        body {
    background: #323641;
    background: url('');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
  }
    </style>
    <body style="background-image: url('https://img.freepik.com/free-photo/different-stationery-supplies-dark-table-creative-educational-background-website-with-color-pencils-paints-black-wooden-desk-back-school-concept-1-september-top-view-copy-space_203461-73.jpg');">
          <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-2"></div>
                    <div class="col-lg-6 col-md-8 login-box" style="width: 100%;">
                        <div align="center">
                         <h1 style="color: aliceblue;" ><span> Welcome</span></h1>
                        </div>
            <div align="center">
              <br align="center">
                 <div class="header">
                    <h1 style="color: aliceblue;" class="word"><span>Logged In</span></h1>
                 </div>
                    <h1 style="color:aliceblue ;">
                    <span>{{session.username}}!!</span></br> Hello, you have been marked as present....                
                    </h1>
                    <a href="{{ url_for('logout') }}" class="btn" style="color: aliceblue;" >Logout</a>
                </br></br>
              </div>
            </div>
            </div>
            </div>
            </div>
            </div>
        </br></br>
          </br></br></br>
          <div class="letter-image">
            <div class="animated-mail">
              <div class="back-fold"></div>
              <div class="letter">
                <div class="letter-border"></div>
                <div class="letter-title"></div>
                <div class="letter-context"></div>
                <div class="letter-stamp">
                  <div class="letter-stamp-inner"></div>
                </div>
              </div>
              <div class="top-fold"></div>
              <div class="body"></div>
              <div class="left-fold"></div>
            </div>
            <div class="shadow"></div>
          </div>  
    </body>
</html>
